<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>work.erio.jobbole</string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>08076D4F-566C-4EFE-A826-B42C8D01098A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>654BB1F2-6C83-4715-BDD8-81E8DB333164</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4882EADE-B0EB-4B27-90FC-1D76E04EA8A2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>08076D4F-566C-4EFE-A826-B42C8D01098A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Erioifpud</string>
	<key>description</key>
	<string>获取Jobbole的新文章</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Jobbole new posts</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>654BB1F2-6C83-4715-BDD8-81E8DB333164</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>jb</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>loading...</string>
				<key>script</key>
				<string>/usr/local/bin/python3 jobbole.py {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string>/usr/local/bin/python3 codelf.py {query}</string>
				<key>subtext</key>
				<string>Show new posts</string>
				<key>title</key>
				<string>Jobbole</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>4882EADE-B0EB-4B27-90FC-1D76E04EA8A2</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>08076D4F-566C-4EFE-A826-B42C8D01098A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>08076D4F-566C-4EFE-A826-B42C8D01098A</key>
		<dict>
			<key>xpos</key>
			<integer>460</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>4882EADE-B0EB-4B27-90FC-1D76E04EA8A2</key>
		<dict>
			<key>xpos</key>
			<integer>220</integer>
			<key>ypos</key>
			<integer>120</integer>
		</dict>
		<key>654BB1F2-6C83-4715-BDD8-81E8DB333164</key>
		<dict>
			<key>xpos</key>
			<integer>610</integer>
			<key>ypos</key>
			<integer>120</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://erio.work</string>
</dict>
</plist>
